body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  margin-right: auto;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.category {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.category-item {
  background-color: #fff;
  border: 1px solid #e6d8d8;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}
.category-item .img-fluid {
  max-width: px;
  margin-right: 40px;
  width: 45%;
}
.category-item .Content {
  padding-top: -10px;
  margin-top: -20px;
}
.category-item h2 {
  font-size: 17px;
  margin-left: -20px;
}
.category-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.category-item ul li {
  font-size: 12px;
  color: #b4afaf;
  margin-left: -20px;
}
